.margin-top-8{
    margin-top: 8px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-100{
    margin-bottom: 100px;
}
.margin-right-10{
    margin-right: 10px;
}
.padding-left-6{
    padding-left: 6px;
}
.padding-left-8{
    padding-left: 5px;
}
.padding-left-10{
    padding-left: 10px;
}
.padding-left-20{
    padding-left: 20px;
}
.height-100{
    height: 100%;
}
.height-120px{
    height: 100px;
}
.height-200px{
    height: 200px;
}
.height-492px{
    height: 492px;
}
.height-460px{
    height: 460px;
}
.line-gray{
    height: 0;
    border-bottom: 2px solid #dcdcdc;
}
.notwrap{
    word-break:keep-all; 
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.padding-left-5{
    padding-left: 10px;
}
[v-cloak]{
    display: none;
}

// 根据官网文档书写的文字样式

// 主标题 加粗	#464c5b	16px
// 次级标题 加粗	#464c5b	14px
// 小标题 加粗	#464c5b	12px
// 正文 默认	#657180	12px
// 辅助文字 默认	#9ea7b4	12px
// 失效文字 默认	#c3cbd6	12px
// 链接文字 默认	#3399ff	12px

.text-title{
    font-weight: bold;
    color: #464c5b;
    font-size: 16px;
}
.text-subtitle{
    font-weight: bold;
    color: #464c5b;
    font-size: 14px;
}
.text-smalltitle{
    font-weight: bold;
    color: #464c5b;
    font-size: 12px;
}
.text-normal{
    color: #657180;
    font-size: 12px;
}
.text-help{
    color: #9ea7b4;
    font-size: 12px;
}
.text-out{
    color: #c3cbd6;
    font-size: 12px;
}
.text-link{
    color: #3399ff;
    font-size: 12px;
}

// 文字居中
.text-center{
    text-align: center;
}

.card-inner-m-0{
    margin: -16px;
}
.card-inner-m-4{
    margin: -12px;
}
.card-inner-m-5{
    margin: -11px;
}
.card-inner-m-10{
    margin: -6px;
}